<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>RestTunnelClient</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css' />
<link href='/css/main.css' rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
	<!-- Where all the magic happens -->
	<!-- LOGIN FORM -->
	<div class="text-center" style="padding: 50px 0">
		<div class="logo">Start RestTunnel Client</div>
		<!-- Main Form -->
		<div class="login-form-1">
			<div th:if="${ResultMessage != null}" th:text="${ResultMessage}"></div>
			<form id="login-form" class="text-left" action="#" th:action="@{/startclient}" th:object="${ClientInfo}" method="post">
				<div class="login-form-main-message"></div>
				<div class="main-login-form">
					<div class="login-group">
						<div class="form-group">
							<label for="lg_customcode" class="sr-only">Custom Code</label>
							<input
								type="text" class="form-control" id="lg_customcode"
								name="lg_customcode" placeholder="customcode" th:field="*{customCode}" />
						</div>
						<div class="form-group">
							<label for="lg_connectionToken" class="sr-only">Connection Token</label>
							<input
								type="text" class="form-control" id="lg_connectionToken"
								name="lg_connectionToken" placeholder="connectionToken" th:field="*{connectionToken}" />
						</div>
						<div class="form-group">
							<label for="lg_accessKey" class="sr-only">Access Key</label> 
							<input
								type="text" class="form-control" id="lg_accessKey"
								name="lg_accessKey" placeholder="accessKey" th:field="*{accessKey}" />
						</div>
						<div class="form-group">
							<label for="lg_foglightUrl" class="sr-only">Foglight Url</label> 
							<input
								type="text" class="form-control" id="lg_foglightUrl"
								name="lg_foglightUrl" placeholder="foglightUrl" th:field="*{foglightUrl}" />
						</div>
						<div class="form-group">
							<label for="lg_authToken" class="sr-only">Auth Token</label> 
							<input
								type="text" class="form-control" id="lg_authToken"
								name="lg_authToken" placeholder="authToken" th:field="*{authToken}" />
						</div>
					</div>
					<button type="submit" class="login-button">
						<i class="fa fa-chevron-right"></i>
					</button>
				</div>
			</form>
		</div>
		<!-- end:Main Form -->
	</div>
	
	<script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.min.js" type="text/javascript"></script>
	<script src="/javascript/main.js" type="text/javascript"></script>
</body>
</html>
